body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
ul,
p{
    margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img{
    max-width: 100%;
    display: block;
}
.header-bg {
  background-color: #000000;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.header-menu a {
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: #ffffff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 700px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: #111111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background: #2e2e2e;
  }
  .header a:after{
    display: none;
  }
}

@media (max-width: 500px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
  }
}

.introducao-bg{
    background: #000000;
    box-shadow: inset 0px -120px #ffffff;
}

.introducao-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    box-sizing: border-box;
    max-width: 1200px;
    padding: 0px 20px 0px 20px;
    margin-left: auto;
    margin-right: auto;
}

.introducao-conteudo{
    align-self: end;
    padding-bottom: 190px;
}


.introducao img{
  height: 100%
}

.introducao h1{
    margin-bottom: 32px;
    font-size: 8rem;
    line-height: 1.12;
}

.introducao h1 span{
    color: #FFBB00;
}

.introducao p{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    color: #b2b2b2;
}

.introducao a{
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(#FFBB00, #f2a50c);
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: #322000;
    font-size: 18px;
    line-height: 1.33;
    font-weight: bold;
}

.introducao a:hover{
    background: linear-gradient(#ffb600, #e59317);
}



