.container {
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbb00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-p5);
  font-size: 18px;
  line-height: 1.33;
  font-family: "Poppins";
  font-weight: 600;
}

.botao:hover {
  background: linear-gradient(#ffb600, #e59317);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 16px;
  }
}

.link {
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor-0);
}
