.header-bg {
  background-color: var(--cor-12);
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.header-menu a {
  display: inline-block;
  font-size: 18px;
  position: relative;
  font-family: "poppins";
  font-weight: 400;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 700px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: var(--cor-12);
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background: var(--cor-10);
  }
  .header a:after {
    display: none;
  }
}

@media (max-width: 500px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
  }
}
