.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-p1);
}

.depoimento img {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.depoimento-conteudo {
  padding: 40px 40px 80px 80px;
  align-self: end;
}

.depoimento-contedo p {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  position: relative;
}

.depoimento::before,
.depoimento::after {
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
}

.depoimento::before {
  content: "“";
  left: -50px;
  top: -20px;
}

.depoimento::after {
  content: "”";
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .depoimento img {
    max-height: 200px;
  }
  .depoimento-contedo {
    padding: 40px 20px;
    margin: auto;
  }
}
